<div class="container">
 <div class="profile">
   <% if @user %>
   <div class="link"><a href="/profile/<%= @user.id%>">Profile</a></div>
   <div class="link"><a href="/logout">Logout</a></div>
   <% else %>  
   <div class="link"><a href="/login">Login</a></div>
   <div class="link"><a href="/signup">Sign up</a></div>
   <% end %>
 </div>
  
  <ul>
    <%@posts.each do |post|%>
    <li><img src=<%=gravatar(post.user_email,25)%>><a href="/post/<%=post.id%>"><%=post.title%><span> votes: <%=post.score%></span></a></li>
    <% end %>
  </ul>

</div>