<div class="container">
  <div class="profile">
    <% if @user %>
    <div class="link"><a href="/profile/<%= @user.id%>">Profile</a></div>
    <div class="link"><a href="/logout">Logout</a></div>
    <% else %>  
    <div class="link"><a href="/login">Login</a></div>
    <div class="link"><a href="/signup">Sign up</a></div>
    <% end %>
  </div>
  <div class="write"><a href="/post">Write</a></div>
  <div id="user-profile">
    <img src=<%=gravatar(@user.email,150)%>>
    <div id="bio">
      <h1><%= @user.username %></h1>
      <p>Number of posts: <%= @user.total_posts %></p>
      <p>Number of comments: <%= @user.total_comments %></p>
      <p>Number of votes: <%= @user.total_votes %></p>
    </div>
    <h3>Posts</h3>
    <ul>
      <%@user.posts.each do |post|%>
      <li><a href="/post/<%=post.id%>"><%=post.title%></a></li>
      <% end %>
    </ul>
    <h3>Comments</h3>
    <ul>
      <%@user.comments.each do |comment|%>
      <li><a href="/post/<%=comment.post_id%>"><%=comment.comment%></a></li>
      <% end %>
    </ul>
  </div>

</div>